.aside-navigation {
    display: flex;
    position: relative;
    
    &__triangle {
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 10px solid $color-orange;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        top: 100%;
        left: 40%;
    }
    
    &__link {
        font-family: $font-helvetica-bold;
        font-size: 1.1875rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-white;
        padding: 6px 10px;
        flex: 1;
        
        &_pink {
            background: $color-pink;
            
            &:hover {
              background: $color-pink_dark;  
            }
        }
        
        &_orange {
            background: $color-orange;
            
            &:hover {
              background: $color-orange-dark;  
            }
        }
        
        &_blue {
            background: $color-blue;
            flex: 2;
            
            &:hover {
              background: $color-blue-dark;  
            }
        }
    }
}