.body {
    
    &__footer:after {
    position: absolute;
    content: '';
    max-width: 1054px;
    height: 5px;
    right: 0px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    background-image: repeating-linear-gradient(90deg, #ec098d 0px, #ec098d 35px, #5261ac 35px, #5261ac 70px, #8cc63f 70px, #8cc63f 105px, #00aedb 105px, #00aedb 140px, #f78f1d 140px, #f78f1d 175px);
    } 
}