.button {
    position: relative;
    padding: 7px 30px;
    font-family: "Helvetica LT Condensed Bold";
    font-size: 1.1875rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 100%;
    
    &_blue {
        background: $color-blue;
        
        &:hover {
            background: $color-blue_dark;
        }
    }
    
    &_orange {
        background: $color-orange;
        
        &:hover {
            background: $color-orange_dark;
        }
    }
    
    &_pink {
        background: $color-pink;
        
        &:hover {
            background: $color-pink_dark;
        }
    }
    
    &_violet {
        background: $color-violet;
        
        &:hover {
            background: $color-violet_dark;
        }
    }
    
    
    &__search {
        background: $color-blue;
        color: $color-white;
        border: 0;
        text-transform: uppercase;
        font-size: 1.1875rem;
        font-family: $font-menu;
        padding: 10px 18px;
    }
    
    &__triangle {
        position: absolute;
        color: #fff;
        font-size: 21px;
        top: calc(50% - 10px);
        left: 13px;
    }
}

