.category {
    
    &__title {
        font-family: $font-menu;
        font-size: 1.1875rem;
        text-transform: uppercase;
        color: $color-blue;
        margin: 0 0 0.5rem;
    }
    
    &__button {
        margin: 3px 0 0;
    }
    
    &__link {
        display: inline-block;
        font-family: $font-menu;
        font-size: 1.1875rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-white;
        padding: 7px 30px;
        width: 100%;
    }
    
    &__descript {
        color: $color-grey_dark;
        font-size: 0.9375rem;
        font-weight: 600;
        margin: 10px 0 0;
    }
    
    &__items {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    
    &__item {
        width: 32.72727272727273%;
    }
    
    &__img {
        height: 183px;
        overflow: hidden;
    }
}



