.content {
    
    &__left {
        width: 65.669829%;
        display: flex;
        flex-flow: column;
    }
    
    &__right {
        width: 31.690702%;
        display: flex;
        flex-flow: column;
        
    }
    
    &__pagination {
        margin: 10px 0;
    }
}