.container {
    
    &__header {
        margin: 33px 0 0;
    }
    
    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 22px 0;
    }
}