.date {
    display: inline-block;
    position: absolute;
    right: calc(100% + 20px);
    top: -96px;
    background: $color-orange;
    text-align: center;
    color: $color-white;
    font-size: 35px;
    font-family: $font-helvetica-bold;
    padding: 10px 12px 2px 20px;
}