.form-search {
    display: flex;
    height: $ui-height-xl;
    width: 435px;
   
    &__input {
        flex: 1;
        font-family: $font-helvetica-bold;
        border: 1px solid $color-grey-dark;
    }
    
    &__button {
        background: $color-blue;
        color: $color-white;
        border: 0;
        text-transform: uppercase;
        font-size: 19px;
        font-family: $font-helvetica-bold;
        padding: 0 4.13393964448119%;;
        
        &:hover {
            background: $color-blue-dark;
        }
    }
}