.form {
    //max-width: 518px;
    
    &__row {
        display: flex;
        
        & + & {
            margin-top: 25px;
        }
        
        &:nth-of-type(4) .form__label:last-of-type {
            align-self: flex-start;
        }
        
        &:last-of-type {
            justify-content: flex-end;
        }
    }
    
    &__label {
        width: 20%;
        min-width: 100px;
        align-self: center;
    }
    
    &__input {
        flex: 1;
        height: $ui-height-l;
        border-radius: 3px;
        border: 1px solid $color-grey-dark;
    }
    
    &__textarea {
        border-radius: 3px;
        border: 1px solid $color-grey-dark;
        resize: vertical;
        flex: 1;
    }
    
    &__button {
        border: 0;
        height: $ui-height-l;
        color: #fff;
        background: $color-orange;
        border-radius: 3px;
        cursor: pointer;
        line-height: 0px;
        padding: 15px;
        
        &:hover {
            background: $color-orange-dark;
        }
    }
}