.logo {
    font-size: 2.6875rem;
    font-family: $font-menu;
    color: $color-white;
    
    &__letter {
        background: $color-blue;
        padding: 15px 0px 0px;
        
        &:nth-child(even) {
            background: $color-green;
        }
        
        &:nth-child(1n+4) {
            padding-top: 5px;
        }
    }
}