.month {
    display: inline-block;
    position: absolute;
    right: calc(100% + 20px);
    top: -40px;
    background: $color-blue;
    text-align: center;
    color: $color-white;
    font-size: 19px;
    font-family: $font-helvetica-bold;
    text-transform: uppercase;
    padding: 0 12px;
}