.page {
    background: $color-grey;
    font-family: $font-helvetica;
    position: relative;
    z-index: 0;
    
    &__header {
        margin: 0 0 0.8%;
    }
    
    &__container {
        max-width: 1054px;
        width: auto;
        margin: 0 auto;
        background: #fff;
        padding: 37px 32px 50px;
        box-sizing: border-box;
        position: relative;
          
        &:before {
             position: absolute;
                content:'';
                width: 31.762295081967213%; 
                height: 340px;
                background-image: repeating-linear-gradient(225deg, #f78f1d 0, #f78f1d 45px,  #ec098d 45px, #ec098d 90px, #5261ac 90px, #5261ac 135px, #8cc63f 135px, #8cc63f 170px, #00aedb 170px, #00aedb 205px, transparent 205px, transparent 550px);
                right: 100%;
                top: 0;
        }

        &:after {
            position: absolute;
                content:'';
                width: 1.0245901639344261%; 
                height: 2250px;
                 background-image: repeating-linear-gradient(135deg, $color-orange 0px, $color-orange 25px, $color-pink 25px, $color-pink 50px, $color-violet 50px, $color-violet 75px, $color-green 75px, $color-green 100px, $color-blue 100px, $color-blue 125px, $color-orange 125px, $color-orange 150px, $color-pink 150px, $color-pink 175px, $color-violet 175px, $color-violet 200px, $color-green 200px, $color-green 225px, $color-blue 225px, $color-blue 250px, $color-orange 250px, $color-orange 275px, $color-pink 275px, $color-pink 300px, $color-violet 300px, $color-violet 325px, $color-green 325px, $color-green 350px, $color-blue 350px, $color-blue 375px, transparent 375px, transparent 535px);
                top: -85px;
                left: 100%;
        }
    }
    
    &__body {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 22px 0 0;
    }

     &__content {
        width: 65.669829%;
    }
    
    &__sidebar {
        width: 31.690702%;
    }
    
    &__body-footer:after {
        position: absolute;
        content: '';
        max-width: 1054px;
        height: 5px;
        right: 0px;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        background-image: repeating-linear-gradient(90deg, #ec098d 0px, #ec098d 35px, #5261ac 35px, #5261ac 70px, #8cc63f 70px, #8cc63f 105px, #00aedb 105px, #00aedb 140px, #f78f1d 140px, #f78f1d 175px);
        } 
    
    &__pagination {
        margin: 10px 0;
    }
    
    &__footer {
        text-align: center;
        padding: 2.965159377316531% 0;
        position: relative;
    }
}
 
@media (max-width: 1095px) {
        .container:before,
        .container:after {
            display: none;
        }
    }

