.page {
    background: $color-grey;
    font-family: $font-copy;
    position: relative;
    
    &__container {
        max-width: 1054px;
        margin: 0 auto;
        background: #fff;
        padding: 18px 32px;
        box-sizing: border-box;
        
         &:before {
            position: absolute;
            content:'';
            width: 148px;
            height: 330px;
            background-image: repeating-linear-gradient(35deg, transparent 0px, transparent 84px, $color-blue 84px, $color-blue 146px, $color-green 146px, $color-green 208px, $color-violet 206px, $color-violet 270px, $color-pink 270px, $color-pink 332px, $color-orange 332px, $color-orange 394px);
            z-index: 0;
            left: 0;
            top: 0;
        }
        
        &:after {
            position: absolute;
            content:'';
            width: 13px;
            height: 92%;
             background-image: repeating-linear-gradient(135deg, $color-orange 0px, $color-orange 25px, $color-pink 25px, $color-pink 50px, $color-violet 50px, $color-violet 75px, $color-green 75px, $color-green 100px, $color-blue 100px, $color-blue 125px, $color-orange 125px, $color-orange 150px, $color-pink 150px, $color-pink 175px, $color-violet 175px, $color-violet 200px, $color-green 200px, $color-green 225px, $color-blue 225px, $color-blue 250px, $color-orange 250px, $color-orange 275px, $color-pink 275px, $color-pink 300px, $color-violet 300px, $color-violet 325px, $color-green 325px, $color-green 350px, $color-blue 350px, $color-blue 375px, transparent 375px, transparent 535px);
            z-index: 0;
            top:0;
            right: 135px;
        }
    }
    
    &__header {
         margin: 33px 0 0;
    }
    
    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 22px 0;
    }
    
    
    &__footer {
        text-align: center;
        padding: 40px 0;
        position: relative;
        
        &:before {
            position: absolute;
            content: '';
            width: 78%;
            height: 5px;
            top: 0px;
            left: 149px;
            background-image: repeating-linear-gradient(90deg, $color-pink 0px, $color-pink 35px, $color-violet 35px, $color-violet 70px, $color-green 70px, $color-green 105px, $color-blue 105px, $color-blue 140px, $color-orange 140px, $color-orange 175px);
        }
    }
}

