.picture {
        height: 377px;
        overflow: hidden;
        margin: 0 0 1.6021532940271728%;
    
    &__pic-thumbnail-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    
    &__pic-thumbnail {
        width: 24.03229941040759%;
        padding: 0.8010766470135864%;
        border: 1px solid $color-grey-dark;
        box-sizing: border-box;
        margin: 0;
    }
}