.rubric {
    margin-bottom: 20px;
    
    &__title {
        margin:0;
        font-size: 35px;
        color: $color-black;
        font-weight: 600;
        position: relative;
    }
    
    &__datetime {
        position: relative;
    }
    
    &__content {
        font-size: 14px;
        margin: 2% 0 0;
        line-height: 1.4;
        
        &:last-child {
            margin: 30px 0 0;
        }
    }
    
    &__picture {
        padding: 1.845784689216003%;
        border: 1px solid $color-grey-dark;
        margin: 0 0 20px;
    }
    
    &__footer {
        display: flex;
        justify-content: space-between;
    }
    
    &__category,
    &__comment,
    &__read-more {
        color: $color-grey-dark;
        font-size: 0.9375rem;
    }
    
     &__icon {
        color: $color-orange;
        padding: 0 10px;
    }
    
    & + & {
        margin-top: 40px;
    }
}