.social {
    font-size: 40px;
    
    &__item {
        &_rss {
            color: $color-orange;
        }

        &_facebook {
            color: $color-violet;
        }

        &_tumbler {
            color: $color-blue;
        }
        
        & + & {
            margin-left: 10px;
        }
    }
}