.top-navigation {
    font-family: $font-helvetica-bold;
    font-size: 19px;
    text-transform: uppercase;
    
    &__link {
        text-decoration: none;
        color: $color-white;
        display: block;
        padding: 7px 20px;
    }
    
    &__items {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
    }
    
    &__item {
        flex: 1;
        
        &_ccauthor,
        &_home {
            background: $color-blue;
            
            &:hover {
                background: $color-blue-dark;
            }
        }
        
        &_cinema {
            background: $color-green;
            
            &:hover{ 
                background: $color-green-dark;
                }
        }
        
        &_magazine {
            background: $color-violet;
        
            &:hover {
                 background: $color-violet-dark;
            }
        }
        
        &_topmenu {
            background: $color-orange;
            
            &:hover {
                background: $color-orange-dark;
            }
        }
        
        &_archive {
            background: $color-red;
             
            &:hover {
                background: $color-red-dark;
            }
            
        }
        &_pink {
            background: $color-pink;
            
             &:hover {
                background: $color-pink_dark;
            }
        }
        
        &_contacts {
            background: $color-grey-dark;
            flex: 2;
            
              &:hover {
                background: $color-grey-dark;
            }
        }
    }
}

