.top-navigation {
    
    &__link {
        font-family: $font-menu;
        font-size: 1.1875rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-white;
        display: inline-block;
        width: 100%;
    }
    
    &__items {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
    }
    
    &__item {
        padding: 7px 20px;
        flex: 1;
        
        &_blue {
            background: $color-blue;
            
            &:hover {
                background: $color-blue_dark;
            }
        }
        
        &_green {
            background: $color-green;
            
            &:hover{ 
                background: $color-green_dark;
                }
        }
        
        &_violet {
            background: $color-violet;
        
            &:hover {
                 background: $color-violet_dark;
            }
        }
        
        &_orange {
            background: $color-orange;
            
            &:hover {
                background: $color-orange_dark;
            }
        }
        
        &_red {
            background: $color-red;
             
            &:hover {
                background: $color-red_dark;
            }
            
        }
        &_pink {
            background: $color-pink;
            
             &:hover {
                background: $color-pink_dark;
            }
        }
        
        &_grey {
            background: $color-grey_dark;
            flex: 2;
            
              &:hover {
                background: $color-grey_dark;
            }
        }
    }
}

