$font-menu: "Helvetica LT Condensed Bold";
$font-copy: "Helvetica LT Std";
$fs-copy: 0.875rem;
$color-grey: #ebebeb;
$color-grey_dark: #898989;
$color-orange: #f78f1d;
$color-orange_dark: #ea8313;
$color-pink: #ec098d;
$color-pink_dark: #c10a75;
$color-violet: #5261ac;
$color-violet_dark: #3f4c8e;
$color-green: #8cc63f;
$color-green_dark: #72a530;
$color-blue: #00aedb;
$color-blue_dark: #0691b5;
$color-red: #ff0000;
$color-red_dark: #e80b0b;
$color-white: #fff;
$color-black: #000;
$ui-height-l: 30px;
$ui-height-xl: 40px;




