$font-helvetica-bold: "Helvetica LT Condensed Bold";
$font-helvetica: "Helvetica LT Std";
$fs-copy: 14px;
$color-grey: #ebebeb;
$color-grey-dark: #898989;
$color-orange: #f78f1d;
$color-orange-dark: #ea8313;
$color-pink: #ec098d;
$color-pink_dark: #c10a75;
$color-violet: #5261ac;
$color-violet-dark: #3f4c8e;
$color-green: #8cc63f;
$color-green-dark: #72a530;
$color-blue: #00aedb;
$color-blue-dark: #0691b5;
$color-red: #ff0000;
$color-red-dark: #e80b0b;
$color-white: #fff;
$color-black: #000;
$ui-height-l: 30px;
$ui-height-xl: 40px;




