$font-menu: "Helvetica LT Condensed Bold";
$font-copy: "Helvetica LT Std";
$fs-copy: 0.875rem;
$color-grey: #ebebeb;
$color-orange: #f78f1d;
$color-pink: #ec098d;
$color-violet: #5261ac;
$color-green: #8cc63f;
$color-blue: #00aedb;
$color-red: #ff0000;
$color-white: #fff;
$color-grey_dark: #898989;
$color-black: #000;