.widget-category {
    
    &__header {
        background: $color-violet;
        color: $color-white;
        border: 0;
        text-transform: uppercase;
        font-size: 19px;
        font-family: $font-helvetica-bold;
        padding: 0px 18px;
        margin: 0;
        line-height: 38px;
        
        &_cut {
            position: relative;
            display: inline-block;
            margin-right: 38px;
            
            &:before {
                content:'';
                position: absolute;
                width: 0px;
                height: 0px;
                display: inline-block;
                border-left: 38px solid #5261ac;
                border-right: 38px solid transparent;
                border-top: 38px solid transparent;
                top: 0;
                left: 100%;
            }
        }
        
         &_sticked {
            margin: 0 0 0 -32px; // compensating padding from page__container
        }
    }
    
    &__wrapper {
        padding: 15px 0;
        
        &_main {
            padding: 40px 20px;
            
            & .overviews__item + .overviews__item {
                border: 0;
            }
        }
    }
    
    &:last-of-type .widget-category__wrapper:last-of-type {
        padding: 0;
    }
    
    &:last-of-type .widget-category__wrapper_main:last-of-type {
        padding: 40px 20px;
    }
    
    &__aside-navigation {
        margin: 2px 0 0;
    }
    
    &__icon {
        color: $color-blue;
    }
    
    &__right {
        width: 69.342811%;
    }
    
}